<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ page.description }}" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/journal/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script scr="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="/javascript/main.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse mb0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-inverse-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{ site.name }}</a>
      </div>
      <div class="navbar-collapse navbar-inverse-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">My Blog</a></li>
          <li><a href="/work/">My Work</a></li>
          <li><a href="/about/">My Story</a></li>
          <li><a href="/toolbox/">My Toolbox</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/johnkelly" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://stackoverflow.com/users/564761/john" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
          <li><a href="https://www.linkedin.com/in/jkellyj" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/railsjk" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </nav>
    {{ content }}
  </body>
</html>
