---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="page-header text-center">
        <article>
          <h1>{{ page.title }} <small>{{page.date | date_to_string }}</small></h1>
          {% if page.image  %}
          <img src="{{ page.image }}" alt=" {{ image.alt }}" class="img-circle" />
          {% elsif page.icon  %}
          <i class="fa fa-envelope post_icon_header"></i>
          {% endif  %}
        </div>
        {{ content }}
      </article>
      {% include disqus.html %}
    </div>
  </div>
</div>
